MONGODB_URL=33333mongodb+srv://boominathanalagirisamy_db_user:boomi2355@ptas.i97iohy.mongodb.net/?appName=ptas00000
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=480
REFRESH_TOKEN_EXPIRATION_DAYS=7
HF_API_TOKEN=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000000000000
HF_MODEL_ID=mistralai/Mistral-7B-Instruct-v0.3
CORS_ORIGINS=http://localhost:5173
UPLOAD_DIR=./uploads
