.dashboard-container {
    height: 100%;
    background-color: var(--background-color);
    background-image: radial-gradient(circle at 50% -20%, rgba(0, 112, 243, 0.05), transparent 80%);
    overflow-y: auto;
}

.h-full {
    height: 100%;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}