.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    margin-left: 260px;
    /* Offset for fixed sidebar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    background-color: var(--background-color);
}