.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    margin-left: 260px;
    /* Offset for fixed sidebar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

.main-layout.collapsed .main-container {
    margin-left: 80px;
}

.main-content {
    flex: 1;
    background-color: var(--background-color);
    padding: var(--spacing-xl);
}