.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}

.avatar-small {
    width: 32px;
    height: 32px;
    font-size: 0.75rem;
}

.avatar-medium {
    width: 40px;
    height: 40px;
    font-size: 1rem;
}

.avatar-large {
    width: 64px;
    height: 64px;
    font-size: 1.5rem;
}